#main-login-div{
    width: 100%;
    height: 600px;
    background: #111827;

    main{
        width: 400px;
        height: 450px;
        background: #152232;
        #button-account{
            width: 285px;
            height: 15px;
            background: #4f46e5;
          
        }
        #button-account:hover{
            box-shadow: 0 0 4px #558dff;
        }

        input{
            background: #1d2432;
            border: 1px solid #2b313e;
            font-size: 90%;
        }

    }

    
}