#navbar{
    width:100%;
    #profile-img{
      background: #172334;
      #profile-img-body{
        border-radius: 100px 100px 0 0;
        overflow: hidden;
      }
    }
    ul>li:hover{
      box-shadow: 0 2px rgb(232, 232, 232);
    }
  }