#main-card-div{
    width: 280px;
    height: 140px;
    backdrop-filter: blur(20px);
    background: #162134;
    border: 2px solid #334763;
    border-radius: 12px;

    #card-info{
        
        h2:first-child{
            margin-left: 15px;
            font-size: 40px;
            font-weight: 600;
        }
        h2:nth-child(3){
            font-size: 30px;
        }

        img{
            margin-left: 70px;
            margin-right: 10px;
        }
    }

    #card-text{
        color: white;
        margin-left: 15px;
        font-size: 20px;
    }
    #card-edit{
        color: #8fa6c6;
        margin-left: 15px;
        margin-top: 15px;

        img{
            border:3px dotted #334763;
        }
    }
}
