#main-div{
    aside{
        width: 100px;
        height: 600px;
        background-color:#131a2b;
        margin-left: -5px;
        padding-left: 20px;

        img{
            width:50px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        img:first-child{
            background: #192433;
        }
    }

    #add-task{
        background: #172334 ;
    }

    #days_in_table{
        background: #121c2a;
        border: 2px solid #121c2a ;
    }

    #back-color{
        z-index:-2;
        width:100%;
        height: 100%;
        background-color: #172334;
    }
}